extends layout

block content
    .row
        .col-md-3.nopadding
            #stick
                img.img-responsive(src='images/gabinet_updated.jpg', alt='Cinque Terre')

                ul.nav.nav-pills.nav-stacked.text-right
                    li
                        a(href='#about')
                            | O mnie
                            i.fa.fa-pencil-square-o.fa-lg
                    li
                        a(href='#functions')
                            | Pełnione funkcje
                            i.fa.fa-university.fa-lg
                    li
                        a(href='#projects')
                            | Projekty
                            i.fa.fa-tasks.fa-lg
                    li
                        a(href='#articles')
                            | Artykuły
                            i.fa.fa-graduation-cap.fa-lg
        .col-md-9.nopadding
            #stick1
                .loga
                    img.imgx(src='images/ZUT_logo.jpg', alt='Cinque Terre')
                    img.imgx(src='images/WIMiM_logo.jpg', alt='Cinque Terre')
            .bgimage.nopadding
                .titlecont
                    .hh1 Prof. dr hab. inż. dr h.c.
                    .hh0 Stefan Berczyński
                    .h4 Dziekan Wydziału Inżynierii Mechanicznej i Mechatroniki
                    .button.btn.btn-lg.btn-primary(type='button') Program wyborczy
                    .footm
                        hr
                        .row
                            .col-md-4
                                i.fa.fa-map-marker.fa-fw
                                span al. Piastów 19, 70-310 Szczecin
                            .col-md-4
                                i.fa.fa-envelope-o.fa-fw
                                span stefan.berczynski@zut.edu.pl
            #about
            .panel-cont
                .row
                    .col-md-6
                        .panel.panel-default
                            .panel-body
                                .row
                                    i.ix.fa.fa-graduation-cap.fa-5x
                                    p.hcard Przebieg pracy naukowej
                                    .timeline.timeline-left.gray-blue
                                        .timeline-block
                                            .timeline-icon
                                            .timeline-content
                                                h3 mgr inż.
                                                p Wydział Budowy Maszyn i Okrętów Politechniki Szczecińskiej
                                                .timeline-date 1974
                                        .timeline-block
                                            .timeline-icon
                                            .timeline-content
                                                h3 dr inż.
                                                p Politechnika Szczecińska, Wydział Budowy Maszyn i Okrętów
                                                .timeline-date 1978
                                        .timeline-block
                                            .timeline-icon
                                            .timeline-content
                                                h3 dr hab. inż
                                                p Politechnika Warszawska, Wydział Mechaniczny Technologiczny
                                                .timeline-date 1982
                                        .timeline-block
                                            .timeline-icon
                                            .timeline-content
                                                h3 prof. dr hab. inż
                                                p Tytuł profesora nauk technicznych
                                                .timeline-date 1990
                                        .timeline-block
                                            .timeline-icon
                                            .timeline-content
                                                h3 prof. dr hab. inż. dr h.c.
                                                p Uniwersytet Techniczny w Sankt-Petersburgu
                                                .timeline-date 1999

                    .col-md-6
                        .panel.panel-default
                            .panel-body
                                .row
                                    i.ix.fa.fa-search.fa-5x
                                    p.hcard Zainteresowania
                                    ul
                                        li
                                            h4 Dynamika obrabiarek
                                        li
                                            h4 Dynamika budowli
                                        li
                                            h4 Komputerowe wspomaganie projektowania
                                        li
                                            h4 Optymalizacja i identyfikacja właściwości dynamicznych maszyn
                                        li
                                            h4 Technologia nagniatania powierzchni
                    .row
                        .col-md-6
                            .panel.panel-default
                                .panel-body
                                    .row
                                        i.ix.fa.fa-book.fa-5x
                                        p.hcard Dorobek naukowy
                                        ul
                                            li
                                                h4 2 monografie
                                            li
                                                h4 2 skrypty
                                            li
                                                h4 205 artykułów i referatów
                                            li
                                                h4 75 niepublikowanych prac naukowo-badawczych
                                            li
                                                h4 promotor 9 rozpraw doktorskich
                                            li
                                                h4 opiekun naukowy 2 doktorantek
                        .col-md-6
                            .panel.panel-default
                                .panel-body
                                    .row
                                        i.ix.fa.fa-users.fa-5x
                                        p.hcard Członkostwo w gremiach naukowych:
                                        ul
                                            li
                                                h4 Członek  Komitetu Budowy Maszyn PAN
                                            li
                                                h4 Członek Sekcji Dynamiki Układów Komitetu Mechaniki PAN
                                            li
                                                h4 Członek Sekcji Podstaw Technologii Komitetu Budowy Maszyn PAN
                                            li
                                                h4 Członek Polskiego Komitetu Teorii Maszyn i Mechanizmów
                                            li
                                                h4 Członek sekcji C-3 (oceniającej projekty celowe) Ministerstwa Nauki i Informatyzacji w latach 2002-2005
                #functions
                .row
                    .col-md-12
                        .panel.panel-default
                            .panel-body
                                .row
                                    i.ix.fa.fa-university.fa-5x
                                    i.ix.fa.fa-cogs.fa-5x
                                    p.hcard Pełnione funkcje w uczelni i przemyśle
                                        .timeline.timeline-alternating.timeline-collapsing.timeline-with-arrows
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-graduation-cap.fa-lg(style='color:#c23b22')
                                                .timeline-content
                                                    h4 Zastępca dyrektora Instytutu Technologii Mechanicznej
                                                    .timeline-date 1982–1991
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-cog.fa-lg(style='color:#0033cc')
                                                .timeline-content
                                                    h4 Zastępca dyrektora ds. naukowych Ośrodka Badawczo – Rozwojowego „SELATOM” w Szczecinie
                                                    .timeline-date 1986-1992
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-graduation-cap.fa-lg(style='color:#c23b22')
                                                .timeline-content
                                                    h4 Kierownik Zakładu Układów Mechatronicznych
                                                    .timeline-date 1986–2005
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-graduation-cap.fa-lg(style='color:#c23b22')
                                                .timeline-content
                                                    h4 Dziekan Wydziału Mechanicznego
                                                    .timeline-date 1990–1993
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-graduation-cap.fa-lg(style='color:#c23b22')
                                                .timeline-content
                                                    h4 Rektor Politechniki Szczecińskiej
                                                    .timeline-date 1993–1999
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-cog.fa-lg(style='color:#0033cc')
                                                .timeline-content
                                                    h4 Członek Rady Nadzorczej Porta Holding SA w Szczecinie
                                                    .timeline-date 1999-2010
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-graduation-cap.fa-lg(style='color:#c23b22')
                                                .timeline-content
                                                    h4 Dziekan Wydziału Mechanicznego
                                                    .timeline-date 1999-2005
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-cog.fa-lg(style='color:#0033cc')
                                                .timeline-content
                                                    h4 V-ce Przewodniczący Rady Nadzorczej  Unizeto  Technologies SA w Szczecinie
                                                    .timeline-date 2003-2010
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-graduation-cap.fa-lg(style='color:#c23b22')
                                                .timeline-content
                                                    h4 Dziekan Wydziału Inżynierii Mechanicznej i Mechatroniki
                                                    .timeline-date 2008-2016
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-cog.fa-lg(style='color:#0033cc')
                                                .timeline-content
                                                    h4 Przewodniczący Rady Nadzorczej Unizeto  Technologies SA w Szczecinie
                                                    .timeline-date 2010-2015
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-cog.fa-lg(style='color:#0033cc')
                                                .timeline-content
                                                    h4 Przewodniczący Rady Nadzorczej Zakładu Unieszkodliwiania Odpadów w Szczecinie
                                                    .timeline-date 2010-
                .row
                    .col-md-6
                        .panel.panel-default
                            .panel-body
                                .row
                                    i.ix.fa.fa-info-circle.fa-5x
                                    p.hcard Inne pełnione funkcje
                                    ul
                                        li
                                            h4 Członek Kapituły Nagrody Gospodarczej Prezydenta RP w latach 1998-2006
                                        li
                                            h4 Przedstawiciel Ministra Nauki w Zachodniopomorskim Komitecie Monitorującym Programy Rozwoju, Regionalnego w latach 2005 – 2009
                                        li
                                            h4 Przewodniczący Rady Społecznej Zakładu Opieki Zdrowotnej Szkół Wyższych w Szczecinie od 1996 r.
                                        li
                                            h4 Członek Zespołu Prezydenta Szczecina ds. opracowania strategii „Szczecin 2020”
                                        li
                                            h4 Doradca Prezydenta Szczecina ds. szkolnictwa wyższego
                    .col-md-6
                        .panel.panel-default
                            .panel-body
                                .row
                                    i.ix.fa.fa-trophy.fa-5x
                                    p.hcard 10.	Nagrody i odznaczenia
                                    ul
                                        li
                                            h4 Nagrody I i II stopnia Ministra Nauki i Szkolnictwa Wyższego
                                        li
                                            h4 Nagroda Zespołowa I stopnia Ministra Przemysłu Maszynowego
                                        li
                                            h4 Krzyż Oficerski i Kawalerski Orderu Odrodzenia Polski
                                        li
                                            h4 Medal Komisji Edukacji Narodowej
                                        li
                                            h4 Srebrny i Brązowy Medal Za Zasługi Dla Obronnosci Kraju
                                        li
                                            h4 Honorowy Żołnierz 12 Szczecińskiej Dywizji Zmechanizowanej
                #projects
                .row
                    .col-md-12
                        .panel.panel-default
                            .panel-body
                                .owl-carousel.owl-theme
                                    .item(data-merge='3').itemtlo
                                        .row
                                            .col-lg-12
                                                h1 Projekt pierwszy
                                        .row
                                            .col-lg-4
                                                img.imgxt(src='images/gwint 1.png', alt='Cinque Terre')
                                            .col-lg-4
                                                img.imgxt(src='images/gwint 1.png', alt='Cinque Terre')
                                            .col-lg-4
                                                img.imgxt(src='images/gwint 1.png', alt='Cinque Terre')
                                        .row
                                            .col-md-12
                                                p Opis projektu
                                                p Opis projektu
                                    .item(data-merge='3').itemtlo
                                        .row
                                            .col-lg-12
                                                h1 Projekt drugi
                                        .row
                                            .col-lg-4
                                                img.imgxt(src='images/2s.jpg', alt='Cinque Terre')
                                            .col-lg-4
                                                img.imgxt(src='images/2s.jpg', alt='Cinque Terre')
                                            .col-lg-4
                                                img.imgxt(src='images/2s.jpg', alt='Cinque Terre')
                                        .row
                                            .col-md-12
                                                p Opis projektu
                                                p Opis projektu
                                    .item(data-merge='3').itemtlo
                                        .row
                                            .col-lg-12
                                                h1 Projekt trzeci
                                        .row
                                            .col-lg-4
                                                img.imgxt(src='images/FORMA11.jpg', alt='Cinque Terre')
                                            .col-lg-4
                                                img.imgxt(src='images/FORMA11.jpg', alt='Cinque Terre')
                                            .col-lg-4
                                                img.imgxt(src='images/FORMA11.jpg', alt='Cinque Terre')
                                        .row
                                            .col-md-12
                                                p Opis projektu
                                                p Opis projektu
                                    .item(data-merge='3').itemtlo
                                        h4 4
                                    .item(data-merge='3').itemtlo
                                        h4 5
                                    .item(data-merge='3').itemtlo
                                        h4 6

                #articles
                .row
                    .col-md-12
                        .panel.panel-default
                            .panel-body
                                .row
                                    i.ix.fa.fa-file-text-o.fa-5x
                                    p.hcard Artykuły
                                ul.nav.nav-pills.nav-stacked
                                    li
                                        a(href='#')
                                            font(size='3') Tomasz Wróblewski, Małgorzata Jarosińska, Małgorzata Abramowicz,
                                            b
                                                font(size='3') Stefan Berczyński:
                                            font(size='3')  Experimental Validation of the Use  of Energy Tranfer Ratio (ETR) for damage diagnosis  in steel-concrete  composite beams, Journal of Theoretical and Applied Mechanics, 2016,( przyjęty do druku)
                                    li
                                        a(href='#')
                                            font(size='3') Małgorzata Abramowicz,
                                            b
                                                font(size='3') Stefan Berczyński,
                                            font(size='3') Tomasz Wróblewski:
                                            font(size='3')  Experimental Validation of the Use  of Energy Tranfer Ratio (ETR) for damage diagnosis  in steel-concrete  composite beams, Journal of Theoretical and Applied Mechanics, 2016,( przyjęty do druku)
                                    li
                                        a(href='http://przyrbwn.icm.edu.pl/APP/PDF/125/a125z1p07.pdf')
                                            font(size='3') P. Berczyńskia,
                                            b
                                                font(size='3') Stefan Berczyński,
                                            font(size='3')  Yu.A. Kravtsov:
                                            font(size='3')  Gaussian Beam Diraction and Self-Focusing in Weakly Anisotropic and Dissipative Nonlinear Plasma , Acta Physica Polonica A, vol.125 (2014 s. 39 - 45
                                    li
                                        a(href='http://link.springer.com/article/10.1007%2Fs00170-014-5775-x')
                                            font(size='3') Daniel Grochała,
                                            b
                                                font(size='3') Stefan Berczyński,
                                            font(size='3')  Zenon Grządziel:
                                            font(size='3')  Stress in the surface layer of objects burnished after milling, International Journal of Advanced Manufacturing Technology , vol 72  pp. 1655-1663 (2014)
                                    li
                                        a(href='http://yadda.icm.edu.pl/yadda/element/bwmeta1.element.baztech-article-BWM6-0005-0002')
                                            font(size='3') Tadeusz Wróblewski, Małgorzata Jarsoińska
                                            b
                                                font(size='3') Stefan Berczyński:
                                            font(size='3')  Application of etr for diagnosis of damage in steel-concrete composite beams. Journal of Theoretical and Applied Mechanics. 2011, nVol. 49, s. 51-70;
                                    li
                                        a(href='http://scitation.aip.org/content/aip/journal/pop/18/6/10.1063/1.3601136')
                                            font(size='3') Jarosław Zaleśny, Grzegorz Galant, Mietek Lisak, Sławomir Marczyński, Paweł Berczyński, Andrzej Gałkowski,
                                            b
                                                font(size='3') Stefan Berczyński:
                                            font(size='3')  Nonlinear evolution of two fast-particle-driven modes near the linear stability threshold. Physics of Plasmas. 2011, Vol. 18, s;23-35
                                    li
                                        a(href='http://jvc.sagepub.com/content/early/2010/05/26/1077546309350552')
                                            b
                                                font(size='3') Stefan Berczyński,
                                            font(size='3')  Wróblewski Tomasz:
                                            font(size='3')  Experimental Verification of Natural Vibration Models of Steel-concrete Composite Beams. Journal of Vibration and Control. 2010, 16(14), s. 2057-2081;
                                    li
                                        a(href='http://www.sciencedirect.com/science/article/pii/S0960077908002750?np=y')
                                            b
                                                font(size='3') Stefan Berczyński,
                                            font(size='3')  Kravtsov Yury A., Oleg Anosov:
                                            font(size='3')  Chaotic dynamics reconstruction from noisy data: Phenomenon of predictability worsening for incomplete set of observables. Chaos, Solitons and Fractals. 2009, 41, s. 1459-1466;
                                    li
                                        a(href='http://www.worldscientific.com/doi/abs/10.1142/S0218127407017975')
                                            font(size='3')  Anosov, B. Hensel,
                                            b
                                                font(size='3') Stefan Berczyński,
                                            font(size='3')  Yu.A. Kravtsov:
                                            font(size='3')  Detection Threshold of the Control Parameters Modulation in a Noisy Chaotic Map. International Journal of  Bifurcation and Chaos, 2007, Vol. 17, No. 5, s. 1661-1672;
                                    li
                                        a(href='http://jvc.sagepub.com/content/12/3/279.abstract')
                                            font(size='3')  Paweł Gutowski,
                                            b
                                                font(size='3') Stefan Berczyński:
                                            font(size='3')  Identification of the Dynamic Models of Machine Tool Supporting Systems. Part II: An Example of Application of the Method.  Journal of Vibration and Control, 2006, Vol. 12 nr 3, s. 279-295;
                                    li
                                        a(href='http://jvc.sagepub.com/content/11/6/829.abstract')
                                            b
                                                font(size='3') Stefan Berczyński,
                                            font(size='3')  Tomasz Wróblewski:
                                            font(size='3')  Vibration of Steel-Concrete Composite Beams Using the Timoshenko Beam Model.  Journal of Vibration and Control, Vol. 11, 2005, s. 829-848;
                                    li
                                        a(href='http://jvc.sagepub.com/content/12/3/257.abstract')
                                            b
                                                font(size='3') Stefan Berczyński,
                                            font(size='3')  Paweł Gutowski:
                                            font(size='3')  Identification of the Dynamic Models of Machine Tool Supporting Systems. Part I: An Algorithm of the Method. Journal of Vibration and Control, 2006, Vol. 12 nr 3, s. 257-277;
                                    li
                                        a(href='http://www.sciencedirect.com/science/article/pii/S0965997899000344')
                                            font(size='3') Grzegorz Szwengier,
                                            b
                                                font(size='3') Stefan Berczyński,
                                            font(size='3')  Tomasz Goduński:
                                            font(size='3')  Identification of Physical Parameters in Contact Joints Models of Machines Supporting Systems. Advances in Engineering Software “Including Computing Systems in Engineering”, Vol. 31, Nr 2, 2000, s. 149-155;

    script.
        $('.owl-carousel').owlCarousel({
            items: 4,
            loop: true,
            center:true,
            margin: 10,
            merge:true,
            nav: true
        })