extends layout

block content
    .row
        .col-md-3.nopadding
            #stick
                img.img-responsive(src='images/acx.jpg', alt='Cinque Terre')

                ul.nav.nav-pills.nav-stacked.text-right
                    li
                        a(href='#')
                            | Biografia
                            i.fa.fa-pencil-square-o.fa-lg
                    li
                        a(href='#')
                            | Tytuły Naukowe
                            i.fa.fa-graduation-cap.fa-lg
                    li
                        a(href='#')
                            | Sprawowane Funkcje
                            i.fa.fa-university.fa-lg
                    li
                        a(href='#')
                            | Nagrody i odznaczenia
                            i.fa.fa-trophy.fa-lg

                    li
                        a(href='#') Zainteresowania
                    li
                        a(href='#') Artykuły
        .col-md-9.nopadding
            .container-fluid.nopadding
                a saddddddddddddddddddd
                img.img-responsive(src='images/acx.jpg', alt='Cinque Terre')
                a sadddddddddddddddddddsaddddddddddddddddddd
                img.img-responsive(src='images/acx.jpg', alt='Cinque Terre')
                img.img-responsive(src='images/acx.jpg', alt='Cinque Terre')







