extends layout

block content
    #start
    .row
        .col-md-3.nopadding
            #stick
                img.img-responsive(src='images/stefan_berczynski.jpg', alt='Cinque Terre')

                ul.nav.nav-pills.nav-stacked.text-right
                    li#star
                        a(href='#start')
                            | Start
                            i.fa.fa-home.fa-lg
                    li#abo
                        a(href='#about')
                            | O mnie
                            i.fa.fa-pencil-square-o.fa-lg
                    li#func
                        a(href='#functions')
                            | Pełnione funkcje
                            i.fa.fa-university.fa-lg
                    li#proj
                        a(href='#projects')
                            | Projekty
                            i.fa.fa-tasks.fa-lg
                    li#art
                        a(href='#articles')
                            | Artykuły
                            i.fa.fa-file-text-o.fa-lg
                    li#dyd
                        a(href='#dydaktyka')
                            | Dydaktyka
                            i.fa.fa-graduation-cap.fa-lg
        .col-md-9.nopadding
            #stick1
                .loga
                    img.imgx(src='images/ZUT_logo.jpg', alt='Cinque Terre')
                    img.imgx(src='images/WIMiM_logo.jpg', alt='Cinque Terre')
            .bgimage.nopadding
                .titlecont
                    .hh1#sstart Prof. dr hab. inż. dr h.c.
                    .hh0 Stefan Berczyński
                    .h4 Dyrektor Instytutu Technologii Mechanicznej na Wydziale Inżynierii Mechanicznej i Mechatroniki
                    //.button.btn.btn-lg.btn-primary(type='button' onClick="window.open('documents/program_wyborczy.pdf')") Program wyborczy
                    .footm
                        hr
                        .row
                            .col-md-4
                                i.fa.fa-map-marker.fa-fw
                                span al. Piastów 19, 70-310 Szczecin
                            .col-md-4
                                i.fa.fa-envelope-o.fa-fw#about
                                span stefan.berczynski@zut.edu.pl
            .panel-cont
                .row
                    .col-md-6
                        .panel.panel-default
                            .panel-body
                                .row
                                    i.ix.fa.fa-graduation-cap.fa-5x
                                    p.hcard Przebieg pracy naukowej
                                    .timeline.timeline-left.gray-blue
                                        .timeline-block
                                            .timeline-icon
                                            .timeline-content
                                                h3 mgr inż.
                                                p Wydział Budowy Maszyn i Okrętów Politechniki Szczecińskiej
                                                .timeline-date 1974
                                        .timeline-block
                                            .timeline-icon
                                            .timeline-content
                                                h3 dr inż.
                                                p Politechnika Szczecińska, Wydział Budowy Maszyn i Okrętów
                                                .timeline-date 1978
                                        .timeline-block
                                            .timeline-icon
                                            .timeline-content
                                                h3 dr hab. inż
                                                p Politechnika Warszawska, Wydział Mechaniczny Technologiczny
                                                .timeline-date 1982
                                        .timeline-block
                                            .timeline-icon
                                            .timeline-content
                                                h3 prof. dr hab. inż
                                                p Tytuł profesora nauk technicznych
                                                .timeline-date 1990
                                        .timeline-block
                                            .timeline-icon
                                            .timeline-content
                                                h3 prof. dr hab. inż. dr h.c.
                                                p Uniwersytet Techniczny w Sankt-Petersburgu
                                                .timeline-date 1999

                    .col-md-6
                        .panel.panel-default
                            .panel-body
                                .row
                                    i.ix.fa.fa-search.fa-5x
                                    p.hcard Zainteresowania
                                    ul
                                        li
                                            h4 Dynamika obrabiarek
                                        li
                                            h4 Dynamika budowli
                                        li
                                            h4 Komputerowe wspomaganie projektowania
                                        li
                                            h4 Optymalizacja i identyfikacja właściwości dynamicznych maszyn
                                        li
                                            h4 Technologia nagniatania powierzchni
                    .row
                        .col-md-6
                            .panel.panel-default
                                .panel-body
                                    .row
                                        i.ix.fa.fa-book.fa-5x
                                        p.hcard Dorobek naukowy
                                        ul
                                            li
                                                h4 2 monografie
                                            li
                                                h4 2 skrypty
                                            li
                                                h4 205 artykułów i referatów
                                            li
                                                h4 75 niepublikowanych prac naukowo-badawczych
                                            li
                                                h4 promotor 9 rozpraw doktorskich
                                            li
                                                h4 opiekun naukowy 2 doktorantek
                        .col-md-6
                            .panel.panel-default
                                .panel-body
                                    .row
                                        i.ix.fa.fa-users.fa-5x#aboute
                                        p.hcard Członkostwo w gremiach naukowych
                                        ul
                                            li
                                                h4 Członek  Komitetu Budowy Maszyn PAN
                                            li
                                                h4 Członek Sekcji Dynamiki Układów Komitetu Mechaniki PAN
                                            li
                                                h4 Członek Sekcji Podstaw Technologii Komitetu Budowy Maszyn PAN
                                            li
                                                h4 Członek Polskiego Komitetu Teorii Maszyn i Mechanizmów
                                            li
                                                h4 Członek sekcji C-3 (oceniającej projekty celowe) Ministerstwa Nauki i Informatyzacji w latach 2002-2005
                #functions
                .row
                    .col-md-12
                        .panel.panel-default
                            .panel-body
                                .row
                                    i.ix.fa.fa-university.fa-5x
                                    i.ix.fa.fa-cogs.fa-5x
                                    p.hcard Pełnione funkcje w uczelni i przemyśle
                                        .timeline.timeline-alternating.timeline-collapsing.timeline-with-arrows
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-graduation-cap.fa-lg(style='color:#c23b22')
                                                .timeline-content
                                                    h4 Zastępca dyrektora Instytutu Technologii Mechanicznej
                                                    .timeline-date 1982–1991
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-cog.fa-lg(style='color:#0033cc')
                                                .timeline-content
                                                    h4 Zastępca dyrektora ds. naukowych Ośrodka Badawczo – Rozwojowego „SELATOM” w Szczecinie
                                                    .timeline-date 1986-1992
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-graduation-cap.fa-lg(style='color:#c23b22')
                                                .timeline-content
                                                    h4 Kierownik Zakładu Układów Mechatronicznych
                                                    .timeline-date 1986–2005
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-graduation-cap.fa-lg(style='color:#c23b22')
                                                .timeline-content
                                                    h4 Dziekan Wydziału Mechanicznego
                                                    .timeline-date 1990–1993
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-graduation-cap.fa-lg(style='color:#c23b22')
                                                .timeline-content
                                                    h4 Profesor Nadzwyczajny Wyższej Szkoły Morskiej w Szczecinie
                                                    .timeline-date 1991–1999
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-graduation-cap.fa-lg(style='color:#c23b22')
                                                .timeline-content
                                                    h4 Rektor Politechniki Szczecińskiej
                                                    .timeline-date 1993–1999
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-cog.fa-lg(style='color:#0033cc')
                                                .timeline-content
                                                    h4 Członek Rady Nadzorczej Porta Holding SA w Szczecinie
                                                    .timeline-date 1999-2010
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-graduation-cap.fa-lg(style='color:#c23b22')
                                                .timeline-content#functionse
                                                    h4 Dziekan Wydziału Mechanicznego
                                                    .timeline-date 1999-2005
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-graduation-cap.fa-lg(style='color:#c23b22')
                                                .timeline-content
                                                    h4 Profesor zwyczajny Wyższej Szkoły Morskiej w Szczecinie (od 2004 przemianowaną na Akademię Morską w Szczecinie)
                                                    .timeline-date 1999-do chwili obecnej
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-cog.fa-lg(style='color:#0033cc')
                                                .timeline-content
                                                    h4 V-ce Przewodniczący Rady Nadzorczej  Unizeto  Technologies SA w Szczecinie
                                                    .timeline-date 2003-2010
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-graduation-cap.fa-lg(style='color:#c23b22')
                                                .timeline-content
                                                    h4 Dziekan Wydziału Inżynierii Mechanicznej i Mechatroniki
                                                    .timeline-date 2008-2016
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-cog.fa-lg(style='color:#0033cc')
                                                .timeline-content
                                                    h4 Przewodniczący Rady Nadzorczej Unizeto  Technologies SA w Szczecinie
                                                    .timeline-date 2010-2015
                                            .timeline-block
                                                .timeline-icon.timeline-icon-hide-border
                                                    i.fa.fa-cog.fa-lg(style='color:#0033cc')
                                                .timeline-content
                                                    h4 Przewodniczący Rady Nadzorczej Zakładu Unieszkodliwiania Odpadów w Szczecinie
                                                    .timeline-date 2010-do chwili obecnej
                .row
                    .col-md-6
                        .panel.panel-default
                            .panel-body
                                .row
                                    i.ix.fa.fa-info-circle.fa-5x
                                    p.hcard Inne pełnione funkcje
                                    ul
                                        li
                                            h4 Członek Kapituły Nagrody Gospodarczej Prezydenta RP w latach 1998-2006
                                        li
                                            h4 Przedstawiciel Ministra Nauki w Zachodniopomorskim Komitecie Monitorującym Programy Rozwoju, Regionalnego w latach 2005 – 2009
                                        li
                                            h4 Przewodniczący Rady Społecznej Zakładu Opieki Zdrowotnej Szkół Wyższych w Szczecinie od 1996 r.
                                        li
                                            h4 Członek Zespołu Prezydenta Szczecina ds. opracowania strategii „Szczecin 2020”
                                        li
                                            h4 Doradca Prezydenta Szczecina ds. szkolnictwa wyższego
                    .col-md-6
                        .panel.panel-default
                            .panel-body
                                .row
                                    i.ix.fa.fa-trophy.fa-5x
                                    p.hcard Nagrody i odznaczenia
                                    ul
                                        li
                                            h4 Nagrody I i II stopnia Ministra Nauki i Szkolnictwa Wyższego
                                        li
                                            h4 Nagroda Zespołowa I stopnia Ministra Przemysłu Maszynowego
                                        li
                                            h4 Krzyż Oficerski i Kawalerski Orderu Odrodzenia Polski
                                        li
                                            h4 Medal Komisji Edukacji Narodowej
                                        li
                                            h4 Srebrny i Brązowy Medal Za Zasługi Dla Obronnosci Kraju
                                        li
                                            h4 Honorowy Żołnierz 12 Szczecińskiej Dywizji Zmechanizowanej

                #projects
                .row
                    .col-md-12
                        .panel.panel-default
                            .panel-body
                                .row
                                    i.ix.fa.fa-tasks.fa-5x
                                    p.hcard Projekty
                                .owl-carousel.owl-theme
                                    .item(data-merge='3').itemtlo
                                        .row
                                            .col-lg-12.text-center
                                                h1 Tokarka do gwintów falistych
                                                hr(style='border-color:#808080', width='80%')
                                        .row
                                            .col-md-6
                                                .projdesc
                                                    h3 Celem projektu jest budowa wysokowydajnej tokarki sterowanej numerycznie do obróbki gwintów falistych i trapezowych. Nowatorskie, mechatroniczne podejście do projektowania napędu posuwowego tokarki uwzględniające układ mechaniczny oraz  sterowania zapewni wymaganą dynamikę napędu decydujące o osiąganych wydajnościach.
                                            .col-md-6
                                                #links
                                                    .row
                                                        .col-md-5.nopadding
                                                            a(href='images/TG/01TG.png', title='Opis1', data-gallery='')
                                                                img.img-thumbnail(src='images/TG/01TG.png', alt='01TG')
                                                        .col-md-5.nopadding
                                                            a(href='images/TG/02TG.png', title='Opis2', data-gallery='')
                                                                img.img-thumbnail(src='images/TG/02TG.png', alt='01TG')
                                                    .row
                                                        .col-md-5.nopadding
                                                            a(href='images/TG/03TG.png', title='Opis3', data-gallery='')
                                                                img.img-thumbnail(src='images/TG/03TG.png', alt='01TG')
                                                        .col-md-5.nopadding
                                                            a(href='images/TG/04TG.png', title='Opis4', data-gallery='')
                                                                img.img-thumbnail(src='images/TG/04TG.png', alt='01TG')
                                                    .row
                                                        .col-md-5.nopadding
                                                            a(href='images/TG/05TG.png', title='Opis5', data-gallery='')
                                                                img.img-thumbnail(src='images/TG/05TG.png', alt='01TG')
                                        .row
                                            .col-lg-12
                                                .projlist
                                                    h2 Zespół badawczy:
                                        .row
                                            .projlist
                                                .col-md-5
                                                        ul.list-group
                                                            li.list-group-item Prof. dr hab. Inż. Stefan Berczyński
                                                            li.list-group-item Dr hab. Inż. Bartosz Powałka prof. ZUT
                                                .col-md-5
                                                        ul.list-group
                                                            li.list-group-item Dr inż. Zenon Grządziel
                                                            li.list-group-item Dr inż. Michał Dolata

                                    .item(data-merge='3').itemtlo
                                        .row
                                            .col-lg-12.text-center
                                                h1 Tokarka z eliminatorem drgań
                                                hr(style='border-color:#808080', width='80%')
                                        .row
                                            .col-md-6
                                                .projdesc
                                                    h3 Celem projektu jest projekt oraz budowa centrum tokarskiego sterowanego numerycznie do obróbki podatnych wałów. Szczególną uwagę poświęcono modelowaniu układu korpusowego ze szczególnym uwzględnieniem modelowania połączeń prowadnicowych, mechanizmów śrubowo-tocznych oraz węzłów łożyskowych wrzeciona. Uzyskane wyniki modelowania posłużyły do budowy modelu modalnego tokarki. Na jego podstawie testowano algorytmy tłumienia drgań aktywnym eliminatorem mocowanym do podtrzymki tokarki.
                                            .col-md-6
                                                #links1
                                                    .row
                                                        .col-md-5.nopadding
                                                            a(href='images/TR/TR1.png', title='Opis1', data-gallery='')
                                                                img.img-thumbnail(src='images/TR/TR1.png', alt='01TG')
                                                        .col-md-5.nopadding
                                                            a(href='images/TR/TR2.jpg', title='Opis2', data-gallery='')
                                                                img.img-thumbnail(src='images/TR/TR2.jpg', alt='01TG')
                                                    .row
                                                        .col-md-5.nopadding
                                                            a(href='images/TR/TR3.png', title='Opis3', data-gallery='')
                                                                img.img-thumbnail(src='images/TR/TR3.png', alt='01TG')
                                                        .col-md-5.nopadding
                                                            a(href='images/TR/TR4.png', title='Opis4', data-gallery='')
                                                                img.img-thumbnail(src='images/TR/TR4.png', alt='01TG')
                                                    .row
                                                        .col-md-5.nopadding
                                                            a(href='images/TR/TR5.png', title='Opis5', data-gallery='')
                                                                img.img-thumbnail(src='images/TR/TR5.png', alt='01TG')
                                        .row
                                            .col-lg-12
                                                .projlist
                                                    h2 Zespół badawczy:
                                        .row
                                            .projlist
                                                .col-md-5
                                                    ul.list-group
                                                        li.list-group-item Prof. dr hab. Inż. Stefan Berczyński
                                                        li.list-group-item Dr hab. Inż. Mirosław Pajor prof. ZUT
                                                        li.list-group-item Dr hab. Inż. Piotr Pawełko
                                                .col-md-5
                                                    ul.list-group
                                                        li.list-group-item Dr inż. Zenon Grządziel
                                                        li.list-group-item Dr inż. Michał Dolata
                                    .item(data-merge='3').itemtlo
                                        .row
                                            .col-lg-12.text-center
                                                h1 Wysokowydajne centrum frezarskie
                                                hr(style='border-color:#808080', width='80%')
                                        .row
                                            .col-md-6
                                                .projdesc
                                                    h3 W ramach projektu przeprowadzono badania symulacyjne dynamiki konstrukcji obrabiarki. Wymagały one opracowania kompleksowego środowiska symulacyjnego zamkniętego układu dynamicznego OUPN. Jednym z celi była analiza sztywnościowa tocznych zespołów prowadnicowych zastosowanych do budowy układu prowadnicowego projektowanego 5-osiowego centrum frezarskiego nowej generacji. W czasie badań wykazano wpływ elementów konstrukcyjnych na właściwości obrabiarki w zakresie kształtowania: sztywności statycznej, sztywności dynamicznej, wibrostabilności, odporności na zmienne warunki pracy.
                                            .col-md-6
                                                #links2
                                                    .row
                                                        .col-md-5.nopadding
                                                            a(href='images/FW/01FW.jpg', title='Opis1', data-gallery='')
                                                                img.img-thumbnail(src='images/FW/01FW.jpg', alt='01TG')
                                                        .col-md-5.nopadding
                                                            a(href='images/FW/02FW.png', title='Opis2', data-gallery='')
                                                                img.img-thumbnail(src='images/FW/02FW.png', alt='01TG')
                                                    .row
                                                        .col-md-5.nopadding
                                                            a(href='images/FW/03FW.png', title='Opis3', data-gallery='')
                                                                img.img-thumbnail(src='images/FW/03FW.png', alt='01TG')
                                                        .col-md-5.nopadding
                                                            a(href='images/FW/04FW.jpg', title='Opis4', data-gallery='')
                                                                img.img-thumbnail(src='images/FW/04FW.jpg', alt='01TG')
                                                    .row
                                                        .col-md-5.nopadding
                                                            a(href='images/FW/05FW.jpg', title='Opis5', data-gallery='')
                                                                img.img-thumbnail(src='images/FW/05FW.jpg', alt='01TG')
                                        .row
                                            .col-lg-12
                                                .projlist
                                                    h2 Zespół badawczy:
                                        .row
                                            .projlist
                                                .col-md-5
                                                    ul.list-group
                                                        li.list-group-item Prof. dr hab. Inż. Stefan Berczyński
                                                        li.list-group-item Dr hab. Inż. Mirosław Pajor prof. ZUT
                                                        li.list-group-item#projectse Dr hab. Inż. Piotr Pawełko
                                                .col-md-5
                                                    ul.list-group
                                                        li.list-group-item Dr inż. Zenon Grządziel
                                                        li.list-group-item Dr inż. Michał Dolata
                                    .item(data-merge='3').itemtlo
                                        .row
                                            .col-lg-12.text-center
                                                h1 Nagniatanie powierzchni
                                                hr(style='border-color:#808080', width='80%')
                                        .row
                                            .col-md-6
                                                .projdesc
                                                    h3 Celem modelowania było uzyskanie informacji o stanie naprężeń i odkształceń powstających w skutek prowadzenia obróbki nagniatania powierzchni. Utworzony model geometryczny powierzchni uwzględniał ślady po obróbce skrawaniem. Podczas analiz testowano różne strategie nagniatania. Na podstawie analiz uzyskano informacje o rozkładach naprężeń resztkowych po frezowaniu i nagniataniu powierzchni.
                                            .col-md-6
                                                #links3
                                                    .row
                                                        .col-md-5.nopadding
                                                            a(href='images/NG/NG1.jpg', title='Przykład symulacji procesu nagniatania powierzchni części po frezowaniu kształtującym', data-gallery='')
                                                                img.img-thumbnail(src='images/NG/NG1.jpg', alt='01TG')
                                                        .col-md-5.nopadding
                                                            a(href='images/NG/NG2.jpg', title='Rozkład naprężeń resztkowych po frezowaniu i nagniataniu powierzchni ', data-gallery='')
                                                                img.img-thumbnail(src='images/NG/NG2.jpg', alt='01TG')
                                                    .row
                                                        .col-md-5.nopadding
                                                            a(href='images/NG/NG3.jpg', title='Widok powierzchni po kształtującym frezowaniu głowicą torusową ', data-gallery='')
                                                                img.img-thumbnail(src='images/NG/NG3.jpg', alt='01TG')
                                                        .col-md-5.nopadding
                                                            a(href='images/NG/NG4.jpg', title='Pięcioosiowe nagniatanie powierzchni stempla w gnieździe formy wtryskowej – narzędzie hydrauliczne miechowe ', data-gallery='')
                                                                img.img-thumbnail(src='images/NG/NG4.jpg', alt='01TG')
                                                    .row
                                                        .col-md-5.nopadding
                                                            a(href='https://youtu.be/UK7HVn_r1C4', type='text/html', data-youtube='UK7HVn_r1C4', data-poster='http://img.youtube.com/vi/UK7HVn_r1C4/0.jpg', data-gallery='')
                                                                img.img-thumbnail(src='http://img.youtube.com/vi/UK7HVn_r1C4/0.jpg', alt='01TG')
                                        .row
                                            .col-lg-12
                                                .projlist
                                                    h2 Zespół badawczy:
                                        .row
                                            .projlist
                                                .col-md-5
                                                    ul.list-group
                                                        li.list-group-item Prof. dr hab. Inż. Stefan Berczyński
                                                        li.list-group-item Dr inż. Zenon Grządziel
                                                .col-md-5
                                                    ul.list-group
                                                        li.list-group-item Dr inż. Daniel Grochała
                                    .item(data-merge='3').itemtlo
                                        .row
                                            .col-lg-12.text-center
                                                h1 Obrabiarka przenośna
                                                hr(style='border-color:#808080', width='80%')
                                        .row
                                            .col-md-6
                                                .projdesc
                                                    h3 Celem projektu była koncepcja i opracowanie konstrukcji obrabiarki przenośnej. Mechatroniczne podejście do modelowania uwzględniało równoległe prowadzenie projektu układu nośnego, energo-elektronicznego oraz sterowania. Projekt konstrukcyjny prowadzony z użyciem systemów CAD/CAE miał na celu określenie wibrostabilności układu. W odróżnieniu od klasycznego podejścia do projektowania maszyn, prowadzono modelowanie z uwzględnieniem dużej podatności obrabiarki. Efektem było wykonanie działającego prototypu obrabiarki przenośnej.
                                            .col-md-6
                                                #links4
                                                    .row
                                                        .col-md-5.nopadding
                                                            a(href='images/OP/01OP.png', title='Opis1', data-gallery='')
                                                                img.img-thumbnail(src='images/OP/01OP.png', alt='01TG')
                                                        .col-md-5.nopadding
                                                            a(href='images/OP/02OP.jpg', title='Opis2', data-gallery='')
                                                                img.img-thumbnail(src='images/OP/02OP.jpg', alt='01TG')
                                                    .row
                                                        .col-md-5.nopadding
                                                            a(href='images/OP/03OP.png', title='Opis3', data-gallery='')
                                                                img.img-thumbnail(src='images/OP/03OP.png', alt='01TG')
                                                        .col-md-5.nopadding
                                                            a(href='images/OP/04OP.jpg', title='Opis4', data-gallery='')
                                                                img.img-thumbnail(src='images/OP/04OP.jpg', alt='01TG')
                                                    .row
                                                        .col-md-5.nopadding
                                                            a(href='images/OP/05OP.jpg', title='Opis5', data-gallery='')
                                                                img.img-thumbnail(src='images/OP/05OP.jpg', alt='01TG')
                                        .row
                                            .col-lg-12
                                                .projlist
                                                    h2 Zespół badawczy:
                                        .row
                                            .projlist
                                                .col-md-5
                                                    ul.list-group
                                                        li.list-group-item Prof. dr hab. Inż. Stefan Berczyński
                                                        li.list-group-item Dr hab. Inż. Piotr Pawełko
                                                        li.list-group-item Dr hab. Inż. Paweł Majda
                                                .col-md-5
                                                    ul.list-group
                                                        li.list-group-item Dr inż. Zenon Grządziel
                                                        li.list-group-item Dr inż. Michał Dolata
                                    .item(data-merge='3').itemtlo
                                        .row
                                            .col-lg-12.text-center
                                                h1 Belki zespolone
                                                hr(style='border-color:#808080', width='80%')
                                        .row
                                            .col-md-6
                                                .projdesc
                                                    h3 Prowadzone prace badawcze dotyczyły diagnostyki uszkodzeń stalowo-betonowych konstrukcji zespolonych z zastosowaniem technik analizy modalnej.  Skuteczna diagnostyka wymagała opracowania złożonych, przestrzennych modeli obliczeniowych belek zespolonych.  Stosowano zarówno klasyczne modele ciągłe opracowane wg założeń teorii belek Timoshenki jak również modele dyskretne w konwencji metody sztywnych oraz odkształcalnych elementów skończonych. Opracowane modele uwzględniały wielokierunkową podatność zespolenia na styku stal-beton co w połączeniu z identyfikacją parametryczną gwarantowało wysoką zgodność wyników analiz z wynikami badań doświadczalnych.
                                            .col-md-6
                                                #links5
                                                    .row
                                                        .col-md-5.nopadding
                                                            a(href='images/BZ/01BZ.jpg', title='Opis1', data-gallery='')
                                                                img.img-thumbnail(src='images/BZ/01BZ.jpg', alt='01TG')
                                                        .col-md-5.nopadding
                                                            a(href='images/BZ/02BZ.jpg', title='Opis2', data-gallery='')
                                                                img.img-thumbnail(src='images/BZ/02BZ.jpg', alt='01TG')
                                                    .row
                                                        .col-md-5.nopadding
                                                            a(href='images/BZ/03BZ.png', title='Opis3', data-gallery='')
                                                                img.img-thumbnail(src='images/BZ/03BZ.png', alt='01TG')
                                                        .col-md-5.nopadding
                                                            a(href='images/BZ/04BZ.jpg', title='Opis4', data-gallery='')
                                                                img.img-thumbnail(src='images/BZ/04BZ.jpg', alt='01TG')
                                                    .row
                                                        .col-md-5.nopadding
                                                            a(href='images/BZ/05BZ.png', title='Opis5', data-gallery='')
                                                                img.img-thumbnail(src='images/BZ/05BZ.png', alt='01TG')
                                        .row
                                            .col-lg-12
                                                .projlist
                                                    h2 Zespół badawczy:
                                        .row
                                            .projlist
                                                .col-md-5
                                                    ul.list-group
                                                        li.list-group-item Prof. dr hab. Inż. Stefan Berczyński
                                                        li.list-group-item Dr inż. Tomasz Wróblewski
                                                .col-md-5
                                                    ul.list-group
                                                        li.list-group-item Dr inż. Zenon Grządziel
                #articles
                .row
                    .col-md-12
                        .panel.panel-default
                            .panel-body
                                .row
                                    i.ix.fa.fa-file-text-o.fa-5x
                                    p.hcard Najnowsze Artykuły
                                ul.nav.nav-pills.nav-stacked
                                    li
                                        a(href='http://yadda.icm.edu.pl/yadda/element/bwmeta1.element.baztech-02f8fb94-42e3-441c-886c-ddaaa620cfc7/c/dudzinska_bachtiak-radka_a_study_1_2018.pdf')
                                            .article
                                                font(size='3') Sara Dudzińska, Emilia Bachtiak-radka, Daniel Grochała,
                                                b
                                                    font(size='3')  Stefan Berczyński:
                                                font(size='3')  A study on technological properties of metallic surfaces marked with Data Matrix codes in laser technology
                                                p
                                                    font(size='3') Problemy Eksploatacji. Maintenance Problems, Tom: 108, Zeszyt: 1, Strony: 91-101, 2018

                                    li
                                        a(href='http://jmcm.itee.radom.pl/images/pe_2018/pe_3_2018/PE_3_2018_s_071_078.pdf')
                                            .article
                                                font(size='3') Paweł Dunaj, Bartosz Powałka, Tomasz Okulik,
                                                b
                                                    font(size='3')  Stefan Berczyński,
                                                font(size='3') Marcin Chodźko:
                                                font(size='3')  Modelling steel beams filled with a composite material
                                                p
                                                    font(size='3') Problemy Eksploatacji. Maintenance Problems, Tom: 110, Zeszyt: 3, Strony: 71-78, 2018

                                    li
                                        a(href='http://jmcm.itee.radom.pl/index.php/en/component/content/article/2-uncategorised/43-1-2018')
                                            .article
                                                font(size='3') Daniel Grochała,
                                                b
                                                    font(size='3')  Stefan Berczyński,
                                                font(size='3') Zenon Grządziel:
                                                font(size='3')  Testing of the state of stresses after finish burnishing items
                                                p
                                                    font(size='3') Problemy Eksploatacji. Maintenance Problems, Tom: 108, Zeszyt: 1, Strony: 45-52, 2018

                                    li
                                        a(href='http://ptmts.org.pl/jtam/index.php/jtam/article/view/2589')
                                            .article
                                                font(size='3') Tomasz Wróblewski, Małgorzata Jarosińska, Małgorzata Abramowicz,
                                                b
                                                    font(size='3')  Stefan Berczyński:
                                                font(size='3')  Experimental validation of the use of energy transfer ratio (ETR) for damage diagnosis of steel-concrete composite beams
                                                p
                                                    font(size='3') Journal of Theoretical and Applied Mechanics, Tom: 55, Zeszyt: 1, Strony: 241-252, 2017

                                    li
                                        a(href='https://doi.org/10.1016/j.acme.2017.04.009')
                                            .article
                                                font(size='3') Daniel Grochała,
                                                b
                                                    font(size='3')  Stefan Berczyński,
                                                font(size='3') Zenon Grządziel:
                                                font(size='3')  Modeling of burnishing thermally toughened X42CrMo4 steel with a ceramic ZrO2 ball
                                                p
                                                    font(size='3') Archives of Civil and Mechanical Engineering, Tom: 17, Zeszyt: 4, Strony: 1011-1018, 2017

                                    li
                                        a(href='https://doi.org/10.1515/mspe-2017-0020')
                                            .article
                                                b
                                                    font(size='3')  Stefan Berczyński,
                                                font(size='3')  Daniel Grochała:
                                                font(size='3')  Modeling of surface geometric structure state after integratedformed milling and finish burnishing
                                                p
                                                    font(size='3') Management Systems in Production Engineering, Tom: 25, Zeszyt: 2, Strony: 131-136, 2017

                                    li
                                        a(href='http://ptmts.org.pl/jtam/index.php/jtam/article/view/4158/2625')
                                            .article
                                                font(size='3') Małgorzata Abramowicz,
                                                b
                                                    font(size='3')  Stefan Berczyński,
                                                font(size='3')  Tomasz Wróblewski:
                                                font(size='3')  Parameter estimation of a discrete model of a reinforced concrete slab
                                                p
                                                    font(size='3') Journal of Theoretical and Applied Mechanics, Tom: 55, Zeszyt: 2, Strony: 407-420, 2017

                                    li
                                        a(href='http://iopscience.iop.org/article/10.1088/2051-672X/aa539f/meta')
                                            .article
                                                font(size='3') Emilia Bachtiak-Radka, Sara Dudzińska, Daniel Grochała,
                                                b
                                                    font(size='3')  Stefan Berczyński,
                                                font(size='3')  Wiesław Olszak:
                                                font(size='3')  The influence of CNC milling and ball burnishing on shaping complex 3D surfaces
                                                p
                                                    font(size='3') Surface Topography: Metrology and Properties, Volume 5, Number 1, 2017

                                    li
                                        a(href='http://www.mechanik.media.pl/artykuly/wplyw-warunkow-otoczenia-i-sposobu-akwizycji-chmury-punktow-z-wykorzystaniem-optycznych-systemow-pomiarowych-na-wartosci-parametrow-sgp.html')
                                            .article
                                                font(size='3') Emilia Bachtiak-Radka, Sara Dudzińska, Daniel Grochała,
                                                b
                                                    font(size='3')  Stefan Berczyński:
                                                font(size='3')  Wpływ warunków otoczenia i sposobu akwizycji chmury punktów z wykorzystaniem optycznych systemów pomiarowych na wartości parametrów SGP
                                                p
                                                    font(size='3') Mechanik nr 08/09/2017, pp. 748-752
                                    li
                                        a(href='http://ptmts.org.pl/jtam/index.php/jtam/article/view/2589')
                                            .article
                                                font(size='3') Tomasz Wróblewski, Małgorzata Jarosińska, Małgorzata Abramowicz,
                                                b
                                                    font(size='3')  Stefan Berczyński:
                                                font(size='3')  Experimental Validation of the Use  of Energy Transfer Ratio (ETR) for damage diagnosis  in steel-concrete  composite beams
                                                p
                                                    font(size='3') Journal of Theoretical and Applied Mechanics, 55, 1, pp. 241-252, 2017

                                    li
                                        a(href='http://przyrbwn.icm.edu.pl/APP/PDF/125/a125z1p07.pdf')
                                            .article
                                                font(size='3') P. Berczyńskia,
                                                b
                                                    font(size='3')  Stefan Berczyński,
                                                font(size='3')  Yu.A. Kravtsov:
                                                font(size='3')  Gaussian Beam Difraction and Self-Focusing in Weakly Anisotropic and Dissipative Nonlinear Plasma
                                                p
                                                    font(size='3') Acta Physica Polonica A, vol. 125 (2014), s. 39 – 45;
                                    li
                                        a(href='http://link.springer.com/article/10.1007%2Fs00170-014-5775-x')
                                            .article
                                                font(size='3') Daniel Grochała,
                                                b
                                                    font(size='3')  Stefan Berczyński,
                                                font(size='3')  Zenon Grządziel:
                                                font(size='3')  Stress in the surface layer of objects burnished after milling
                                                p
                                                    font(size='3') International Journal of Advanced Manufacturing Technology , vol. 72 (2014), s. 1655-1663;
                                    li
                                        a(href='http://yadda.icm.edu.pl/yadda/element/bwmeta1.element.baztech-article-BWM6-0005-0002')
                                            .article
                                                font(size='3') Tadeusz Wróblewski, Małgorzata Jarsoińska,
                                                b
                                                    font(size='3')  Stefan Berczyński:
                                                font(size='3')  Application of etr for diagnosis of damage in steel-concrete composite beams
                                                p
                                                    font(size='3') Journal of Theoretical and Applied Mechanics, vol. 49 (2011), s. 51-70;
                                    li
                                        a(href='http://scitation.aip.org/content/aip/journal/pop/18/6/10.1063/1.3601136')
                                            .article
                                                font(size='3') Jarosław Zaleśny, Grzegorz Galant, Mietek Lisak, Sławomir Marczyński, Paweł Berczyński, Andrzej Gałkowski,
                                                b
                                                    font(size='3')  Stefan Berczyński:
                                                font(size='3')  Nonlinear evolution of two fast-particle-driven modes near the linear stability threshold
                                                p
                                                    font(size='3') Physics of Plasmas, vol. 18 (2011), s. 23-35;
                                    li
                                        a(href='http://jvc.sagepub.com/content/early/2010/05/26/1077546309350552')
                                            .article
                                                b
                                                    font(size='3') Stefan Berczyński,
                                                font(size='3')  Wróblewski Tomasz:
                                                font(size='3')  Experimental Verification of Natural Vibration Models of Steel-concrete Composite Beams
                                                p
                                                    font(size='3') Journal of Vibration and Control, vol. 16 (2010), s. 2057-2081;
                                    li
                                        a(href='http://www.sciencedirect.com/science/article/pii/S0960077908002750?np=y')
                                            .article
                                                b
                                                    font(size='3') Stefan Berczyński,
                                                font(size='3')   Yu.A. Kravtsov, Oleg Anosov:
                                                font(size='3')  Chaotic dynamics reconstruction from noisy data: Phenomenon of predictability worsening for incomplete set of observables Chaos
                                                p
                                                    font(size='3') Solitons and Fractals, vol. 41 (2009), s. 1459-1466;
                                    li
                                        a(href='http://www.worldscientific.com/doi/abs/10.1142/S0218127407017975')
                                            .article
                                                font(size='3')  Oleg Anosov, B. Hensel,
                                                b
                                                    font(size='3')  Stefan Berczyński,
                                                font(size='3')  Yu.A. Kravtsov:
                                                font(size='3')  Detection Threshold of the Control Parameters Modulation in a Noisy Chaotic Map
                                                p
                                                    font(size='3') International Journal of Bifurcation and Chaos, vol. 17 (2007), s. 1661-1672;

                                    li
                                        a(href='http://jvc.sagepub.com/content/11/6/829.abstract')
                                            .article
                                                b
                                                    font(size='3') Stefan Berczyński,
                                                font(size='3')  Tomasz Wróblewski:
                                                font(size='3')  Vibration of Steel-Concrete Composite Beams Using the Timoshenko Beam Model
                                                p
                                                    font(size='3') Journal of Vibration and Control, vol. 11 (2005), s. 829-848;
                                    li
                                        a(href='http://jvc.sagepub.com/content/12/3/257.abstract')
                                            .article
                                                b
                                                    font(size='3') Stefan Berczyński,
                                                font(size='3')  Paweł Gutowski:
                                                font(size='3')  Identification of the Dynamic Models of Machine Tool Supporting Systems. Part I: An Algorithm of the Method
                                                p
                                                    font(size='3') Journal of Vibration and Control, vol. 12 (2006), s. 257-277;
                                    li
                                        a(href='http://jvc.sagepub.com/content/12/3/279.abstract')
                                            .article
                                                font(size='3')  Paweł Gutowski,
                                                b
                                                    font(size='3')  Stefan Berczyński:
                                                font(size='3')  Identification of the Dynamic Models of Machine Tool Supporting Systems. Part II: An Example of Application of the Method
                                                p
                                                    font(size='3') Journal of Vibration and Control, vol. 12 (2006), s. 279-295;
                                    li#articlese
                                        a(href='http://www.sciencedirect.com/science/article/pii/S0965997899000344')
                                            .article
                                                font(size='3') Grzegorz Szwengier,
                                                b
                                                    font(size='3')  Stefan Berczyński,
                                                font(size='3')  Tomasz Goduński:
                                                font(size='3')  Identification of Physical Parameters in Contact Joints Models of Machines Supporting Systems
                                                p
                                                    font(size='3') Advances in Engineering Software “Including Computing Systems in Engineering”, vol. 31 (2000), s. 149-155;
                #dydaktyka
                .row
                    .col-md-12
                        .panel.panel-default
                            .panel-body
                                .row
                                    i.ix.fa.fa-graduation-cap.fa-5x
                                    p.hcard Materiały dydaktyczne
                                ul.nav.nav-pills.nav-stacked
                                    li
                                        a
                                            .article
                                                b
                                                a(href='/documents/Statystyka_matematyczna.pdf')
                                                    font(size='5') Statystyka Matematyczna
    script.
        $('.owl-carousel').owlCarousel({
            items: 4,
            loop: true,
            center:true,
            margin: 10,
            merge:true,
            nav: true
        })

    script.
        var waypoint = new Waypoint({
            element: document.getElementById('sstart'),
            handler: function (direction) {
                $("li#star").addClass('active');
                $("li#abo").removeClass('active');
                $("li#func").removeClass('active');
                $("li#proj").removeClass('active');
                $("li#art").removeClass('active');
                $("li#dyd").removeClass('active');
            },
            offset: '20%'
        })

    script.
        var waypoint = new Waypoint({
            element: document.getElementById('about'),
            handler: function (direction) {
                $("li#star").removeClass('active');
                $("li#abo").addClass('active');
                $("li#func").removeClass('active');
                $("li#proj").removeClass('active');
                $("li#art").removeClass('active');
                $("li#dyd").removeClass('active');
            },
            offset: '20%'
        })

    script.
        var waypoint = new Waypoint({
            element: document.getElementById('aboute'),
            handler: function (direction) {
                $("li#star").removeClass('active');
                $("li#abo").addClass('active');
                $("li#func").removeClass('active');
                $("li#proj").removeClass('active');
                $("li#dyd").removeClass('active');
            },
            offset: '20%'
        })

    script.
        var waypoint = new Waypoint({
            element: document.getElementById('functions'),
            handler: function (direction) {
                $("li#star").removeClass('active');
                $("li#abo").removeClass('active');
                $("li#func").addClass('active');
                $("li#proj").removeClass('active');
                $("li#art").removeClass('active');
                $("li#dyd").removeClass('active');
            },
            offset: '20%'
        })

    script.
        var waypoint = new Waypoint({
            element: document.getElementById('functionse'),
            handler: function (direction) {
                $("li#star").removeClass('active');
                $("li#abo").removeClass('active');
                $("li#func").addClass('active');
                $("li#proj").removeClass('active');
                $("li#art").removeClass('active');
                $("li#dyd").removeClass('active');
            },
            offset: '20%'
        })

    script.
        var waypoint = new Waypoint({
            element: document.getElementById('projects'),
            handler: function (direction) {
                $("li#star").removeClass('active');
                $("li#abo").removeClass('active');
                $("li#func").removeClass('active');
                $("li#proj").addClass('active');
                $("li#art").removeClass('active');
                $("li#dyd").removeClass('active');
            },
            offset: '20%'
        })

    script.
        var waypoint = new Waypoint({
            element: document.getElementById('projectse'),
            handler: function (direction) {
                $("li#star").removeClass('active');
                $("li#abo").removeClass('active');
                $("li#func").removeClass('active');
                $("li#proj").addClass('active');
                $("li#art").removeClass('active');
                $("li#dyd").removeClass('active');
            },
            offset: '20%'
        })


    script.
        var waypoint1 = new Waypoint({
            element: document.getElementById('articles'),
            handler: function (direction) {
                $("li#star").removeClass('active');
                $("li#abo").removeClass('active');
                $("li#func").removeClass('active');
                $("li#proj").removeClass('active');
                $("li#art").addClass('active');
                $("li#dyd").removeClass('active');
            },
            offset: '20%'
        })

    script.
        var waypoint1 = new Waypoint({
            element: document.getElementById('articlese'),
            handler: function (direction) {
                $("li#star").removeClass('active');
                $("li#abo").removeClass('active');
                $("li#func").removeClass('active');
                $("li#proj").removeClass('active');
                $("li#art").addClass('active');
                $("li#dyd").removeClass('active');
            },
            offset: '20%'
        })

    script.
        var waypoint1 = new Waypoint({
            element: document.getElementById('dydaktyka'),
            handler: function (direction) {
                $("li#star").removeClass('active');
                $("li#abo").removeClass('active');
                $("li#func").removeClass('active');
                $("li#proj").removeClass('active');
                $("li#art").removeClass('active');
                $("li#dyd").addClass('active');
            },
            offset: '20%'
        })