doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
    link(href='https://fonts.googleapis.com/css?family=Slabo+13px&subset=latin,latin-ext', rel='stylesheet', type='text/css')

  body
    block content


  //BOTTOM MAIN SCRIPTS
  //JQUERY
  script(src='jquery/dist/jquery.js')
  //STICKY
  script(src='jquery-sticky/jquery.sticky.js')
  script.
    $(document).ready(function () {
      $("#stick").sticky({topSpacing: 0});
    });

  //BOOTSTRAP
  script(src='bootstrap-sass/assets/javascripts/bootstrap.js')