doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/timeline.css')
    link(rel='stylesheet', href='/owl.carousel.2.0.0-beta.3/assets/owl.carousel.css')
    link(rel='stylesheet', href='/owl.carousel.2.0.0-beta.3/assets/owl.theme.default.css')
    link(href='https://fonts.googleapis.com/css?family=Slabo+13px&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,200', rel='stylesheet', type='text/css')
    script(src='jquery/dist/jquery.js')
    script(src='owl.carousel.2.0.0-beta.3/owl.carousel.min.js')

  body
    block content


  //BOTTOM MAIN SCRIPTS
  //JQUERY
  script(src='jquery/dist/jquery.js')

  //OWL CAROUSEL
  script(src='owl_carousel/owl.carousel.min.js')

  //STICKY
  script(src='jquery-sticky/jquery.sticky.js')



  script.
    $(document).ready(function () {
      $("#stick").sticky({topSpacing: 0});
      $("#stick1").sticky({topSpacing: 0});

      var my_posts = $("[rel=tooltip]");

      var size = $(window).width();
      for (i = 0; i < my_posts.length; i++) {
        the_post = $(my_posts[i]);

        if (the_post.hasClass('invert') && size >= 767) {
          the_post.tooltip({placement: 'left'});
          the_post.css("cursor", "pointer");
        } else {
          the_post.tooltip({placement: 'rigth'});
          the_post.css("cursor", "pointer");
        }
      }

    });

  //BOOTSTRAP
  script(src='bootstrap-sass/assets/javascripts/bootstrap.js')