doctype html
html
  head
    title Stefan Berczyński
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/stylesheets/timeline.css')
    link(rel='stylesheet', href='/owl.carousel.2.0.0-beta.3/assets/owl.carousel.css')
    link(rel='stylesheet', href='/owl.carousel.2.0.0-beta.3/assets/owl.theme.default.css')

    link(rel='stylesheet', href='blueimp-gallery/css/blueimp-gallery.min.css')
    link(rel='stylesheet', href='blueimp-bootstrap-image-gallery/css/bootstrap-image-gallery.css')

    link(href='https://fonts.googleapis.com/css?family=Slabo+13px&subset=latin,latin-ext', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:400,200', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Slabo+27px', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300', rel='stylesheet', type='text/css')

    script(src='jquery/dist/jquery.js')
    script(src='owl.carousel.2.0.0-beta.3/owl.carousel.min.js')
    script(src='waypoints/lib/noframework.waypoints.js')

  body
    #blueimp-gallery.blueimp-gallery(data-use-bootstrap-modal='false')
      // The container for the modal slides
      .slides
      // Controls for the borderless lightbox
      h3.title
      a.prev ‹
      a.next ›
      a.close ×
      a.play-pause
      ol.indicator
      // The modal dialog, which will be used to wrap the lightbox content
      .modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', aria-hidden='true') ×
              h4.modal-title
            .modal-body.next
            .modal-footer
              button.btn.btn-default.pull-left.prev(type='button')
                i.fa.fa-hand-o-left
                | Poprzedni
              button.btn.btn-primary.next(type='button')
                | Następny
                i.fa.fa-hand-o-right
    block content


  //BOTTOM MAIN SCRIPTS
  //JQUERY
  script(src='jquery/dist/jquery.js')

  //OWL CAROUSEL
  script(src='owl_carousel/owl.carousel.min.js')

  //STICKY
  script(src='jquery-sticky/jquery.sticky.js')

  script(src='blueimp-gallery/js/jquery.blueimp-gallery.min.js')
  script(src='blueimp-bootstrap-image-gallery/js/bootstrap-image-gallery.js')



  script.
    $(document).ready(function () {
      $("#stick").sticky({topSpacing: 0});
      //$("#stick1").sticky({topSpacing: 0});

      var my_posts = $("[rel=tooltip]");

      var size = $(window).width();
      for (i = 0; i < my_posts.length; i++) {
        the_post = $(my_posts[i]);

        if (the_post.hasClass('invert') && size >= 767) {
          the_post.tooltip({placement: 'left'});
          the_post.css("cursor", "pointer");
        } else {
          the_post.tooltip({placement: 'rigth'});
          the_post.css("cursor", "pointer");
        }
      }

    });

  //BOOTSTRAP
  script(src='bootstrap-sass/assets/javascripts/bootstrap.js')