@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap"

//.drop
  z-index: 4562

//.imgx
  max-width: 100%
  height: auto


.nopadding
  padding: 0 !important
  margin: 0 !important


.nav-pills > li
  border-top-width: 0px
  border-bottom-width: 2px
  border-bottom-style: solid
  border-bottom-color: #cccccc
  border-right-width: 8px
  border-right-style: solid
  border-right-color: #0000cc
  padding: 0 !important
  margin: 0 !important

.nav-pills > li > a
  color: rgba(16, 16, 16, 0.88)
  font-family: 'Slabo 13px', sans-serif
  font-size: 1.8em
  margin-right: 5px
  margin-top: 0px
  margin-bottom: 0px

.fa
  margin-left: 20px